<h1>Add Album</h1>

<form action= "<%= albums_url %>" method="POST">
  <%= auth_token %>
  <label for="name">Title Name</label>
  <input type="text" name="album[title]" placeholder="e.g. Dark Side of the Moon">
  <br>
  <label for="band_list">Choose a band</label>
  <select id="band_list" name="album[band_id]">
    <option disabled selected>--Bands--</option>
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>"> <%= band.name %> </option>
    <% end %>
  </select>
  <br>
  <label>Record Type: <br>
  <label for="true">Live</label>
    <input id="true" type="radio" value="true" name="album[live]">
  <label for="false">Studio</label>
    <input id="false" type="radio" value="false" name="album[live]">
  </label>
  <br>
  <input type="submit">
</form>
